# Compiled binaries
*.o
Matching/STMCpp/STM
Matching/STMCpp/STM_info

# Compiled documentation
Documentation/build

# Temporary files
*.swp

**/__pycache__/*


Documentation/TestData/Processed_DATA/MyExperiment/*

Matching/STMCpp/*.h5
Matching/STMPython/*.h5
Matching/STMPython/*.dat

*.pstats
profile.png

**/__pythran__
**/.venv
